<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Dino's Web Apps</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span><span class="pl-1">Home</span>
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>*@
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GenerateMongoDbObjectId">
                <span class="oi oi-list-rich" aria-hidden="true"></span><span class="pl-1">MongoDb ObjectId</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TemperatureConverter">
                <span class="oi oi-list-rich" aria-hidden="true"></span><span class="pl-1">Temperature Converter</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="WhatAmIGoingToWriteAboutToday">
                <span class="oi oi-list-rich" aria-hidden="true"></span><span class="pl-1">Writing Topic</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="WriteAsArchivePageGenerator">
                <span class="oi oi-list-rich" aria-hidden="true"></span><span class="long-text-nav-link">Write.as Archive Page Generator</span>
            </NavLink>
        </li>
    </ul>

    <div id="footer">
        <p>
            Copyright © 2020-@DateTime.Now.Year.ToString() by Dino Bansigan
            <br />
            This work is licensed under a <a style="color: white;" href="http://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a>.
            <br />
            This site on <a style="color: white;" href="https://github.com/DinoBansigan/apps.dinobansigan.com">Github</a> | Hosted for free on <a style="color: white;" href="https://www.netlify.com/">Netlify</a>
        </p>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
