@page "/"

<h1>Hello, world!</h1>
<p>
    Welcome to my Blazor Apps page. As of right now, this page will contain a number of Blazor apps. Feel free to try them out. I created them as a way
    for me to learn more about Blazor.
</p>
