@page "/"

<h1>Hello, world!</h1>
<p>
    Welcome to my apps page. As of right now, this page will contain a number of Blazor apps. Feel free to try them out. I created them for as a way
    for me to learn more about Blazor.
</p>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
