@page "/"

<h1>Hello, world!</h1>
<p>
    Hey, this is Dino. Welcome to my Web Apps page. As of right now, this site will contain a number of 
    <a href="https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-now-available/" target="_blank">Blazor WebAssembly</a> apps. I created them 
    as a way for me to learn more about <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>. This site 
    will serve as a training ground for future exploits with Blazor.
</p>
<p>
    Why Blazor? Because I'm a C#/.NET software developer and Blazor allows me to run .NET code on the browser. It basically allows me to create web 
    apps using C# instead of Javascript. There's no .NET dependencies that need to be installed to get it working. Blazor is supported on modern 
    browsers and runs right off the box. This website for instance runs as a static site, hosted on a 
    <a href="https://www.netlify.com/" target="_blank">static site host</a>. The web apps themselves run 
    on the client. In other words, it runs off your browser. It works just like a Javascript web application. There's no database or ASP.NET needed
    on the back-end. For a C# web application, it is quite frankly, pretty amazing.
</p>
<p>
    Feel free to try out the apps. If you find any issues with them or if you need to contact me, you can 
    <a href="https://dinobansigan.com/contact">leave me a message</a> and I'll get back to you as soon as I can.
</p>
<hr />
<div>
    Changelog: 
    <ul>
        <li>12/31/2022 - Disabled Write.as Archive Page Generator</li>
        <li>11/09/2020 - Added Write.as Archive Page Generator</li>
    </ul>
</div>
