@page "/WhatAmIGoingToWriteAboutToday"

<h1>What am I going to write about today?</h1>
<p>
    This is a simple Blazor app that will pick a random topic to write about today. The topics are based off 
    <a href="https://journal.dinobansigan.com/series-and-tags" target="_blank"><em>topics</em></a> that I write about on my online journal.
</p>
<p>Current date: @DateTime.Today.ToLongDateString()</p>
<p>
    <button class="btn btn-primary" @onclick="GetTodaysTopic">Get topic for today</button>
</p>
<p>
    <label for="todaysTopicTextBox">Today's Topic: </label>
    <input name="todaysTopicTextBox" type="text" value="@todaysTopic" style="margin-left: 10px; width: 200px;" />
</p>

@code {
    List<string> writingTopics = new List<string>()
{
        "Bookmark Posts",
        "Game Clips",
        "Game Log",
        "Game Screenshots",
        "Journal Entry",
        "Music Log"
    };

    string todaysTopic = string.Empty;

    private void GetTodaysTopic()
    {
        Random random = new Random();
        int index = random.Next(writingTopics.Count);
        //todaysTopic = string.Format("Today's topic is \"{0}\"", writingTopics[index]);
        todaysTopic = writingTopics[index];
    }
}
